* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #292929; }

img {
  max-width: auto;
  max-height: 100%; }

h3 {
  font-size: 3.1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1.5rem;
  color: #ffffff;
  text-shadow: 0px 0px 5px #ffffff; }

a {
  text-decoration: none; }

p {
  line-height: 2.5em;
  font-size: large; }

hr {
  border: none;
  height: 1px;
  background-color: #ffffff;
  max-width: 100rem;
  margin: auto; }

.container-fluid {
  background-color: #000000;
  margin-top: 3.5rem;
  padding: 0.5rem;
  position: fixed;
  z-index: 10; }

/*  barra de navegacion */
.navbar-nav {
  margin-top: 0.6rem;
  padding: 0.6rem; }
  .navbar-nav a {
    letter-spacing: 0.12rem;
    min-width: 120px;
    height: 40px;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    overflow: hidden;
    color: #c99f0b; }
  .navbar-nav:hover {
    color: #ffffff; }

.navbar-nav a:hover:after {
  height: 100%; }

.navbar-nav a:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: #c99f0b; }

.navbar-toggler-icon {
  background-color: #c99f0b; }

/*  texto caracteristica */
.caracteristica {
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  font-size: x-large;
  letter-spacing: 0.2em;
  position: absolute;
  top: 27rem;
  right: 35%;
  bottom: auto;
  left: 35%;
  text-shadow: 0px 0px 5px #ffffff; }

/*  estilos separador */
#row-col {
  background-color: #c99f0b;
  justify-content: center;
  text-align: center; }

.col-separador {
  padding: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

/*  carousel */
.carousel-item {
  cursor: pointer; }
  .carousel-item img {
    object-fit: scale-down;
    width: 100%;
    height: 50vh; }

/*  estilos boton vermas */
.bot-prod {
  position: relative;
  width: 150px;
  height: 80px;
  top: 50px;
  right: auto;
  bottom: auto;
  left: 45%;
  perspective: 800px;
  margin-bottom: 4rem; }

.bot-prod:hover .flip {
  transform: rotateX(180deg) translate3d(0, 0, 0);
  box-shadow: 8px -10px 15px 0 #000000; }

.flip {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  perspective: 1000px;
  box-shadow: 8px 10px 15px 0 #000000; }

.front, .back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFCE4E;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  text-align: center; }

.front {
  z-index: 2;
  transform: rotateX(0); }

.front p {
  position: relative;
  top: 1.3rem;
  animation: bike .6s ease-in-out infinite;
  transform-origin: 50% 100%; }

.back {
  transform: rotateX(180deg); }

.back a {
  text-decoration: none;
  position: relative;
  z-index: 1;
  top: 1.8rem;
  animation: helicopter 1.5s ease-in-out infinite;
  animation-fill-mode: both; }

/*  estilos descripcion */
.descripcion {
  text-align: center;
  color: #ffffff;
  position: relative;
  margin: 3.1rem; }
  .descripcion p {
    letter-spacing: 0.2rem;
    line-height: 3.1rem; }

body#productos {
  background-image: url(../media/imagenes/imagenproducts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000; }

/*contenedor de productos */
.card {
  border: solid 1px transparent;
  border-radius: 2%;
  align-items: center;
  opacity: 0.7; }
  .card h5 {
    color: #c99f0b;
    border-radius: 2%;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: 0.1rem; }
  .card:hover {
    box-shadow: 5px 5px 15px 5px #000000;
    opacity: 1; }

/*imagenes-productos */
.card img {
  width: 250px;
  height: 200px;
  cursor: pointer; }
  .card img:hover {
    transform: rotateY(180deg); }

body#contacto {
  background-color: #000000; }

/*formulario */
.btn {
  padding: 0.3rem;
  font-size: 1rem;
  width: 12.5rem;
  border-radius: 5%;
  color: #c99f0b;
  background-color: #000000; }
  .btn:hover {
    background-color: #c99f0b;
    border: solid 1px #000000;
    color: #000000;
    font-weight: bold;
    border-radius: 5%; }

body#body_tab {
  background-color: #000000;
  background-image: url(../media/imagenes/fondotab.png);
  background-repeat: no-repeat; }

/*boton letras */
.abecedario {
  position: absolute;
  display: flex;
  top: 20%;
  right: auto;
  bottom: auto;
  left: 40%;
  z-index: 9; }

.letra {
  background-color: #000000; }
  .letra img {
    width: 1.9rem;
    z-index: 8; }

.letra:hover,
.letra:focus {
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em); }

/*videos */
.card .card-body {
  background-color: transparent; }
  .card .card-body h5 {
    color: #000000;
    text-align: center; }

.videos {
  margin-top: 250px;
  margin-bottom: 15px; }

footer {
  width: 100%;
  display: inline-block;
  background-color: #000000; }

.foot, .box_foot, .box_cop {
  display: flex;
  margin: auto;
  text-align: center; }

.box_foot {
  display: inline;
  flex-direction: column;
  padding: 2.8rem; }
  .box_foot h5 {
    color: #c99f0b;
    background-color: #000000;
    font-size: 1.9rem; }
  .box_foot a {
    color: #c99f0b;
    margin-top: 1rem;
    display: block;
    text-align: center; }
  .box_foot img {
    width: 5rem;
    display: inline-block;
    padding: 0.3rem; }

/* editor derechos reservados */
.box_cop {
  padding-bottom: 1.9rem;
  display: inline; }
  .box_cop p {
    color: #c99f0b;
    margin-top: 1.2rem; }
  .box_cop hr {
    border: none;
    height: 1px;
    background-color: #c99f0b;
    max-width: 75rem;
    margin: auto; }

@media screen and (max-width: 640px) {
  .caracteristica {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    font-size: medium;
    letter-spacing: 0.1em;
    position: absolute;
    top: 25rem;
    right: 35%;
    bottom: auto;
    left: 35%;
    text-shadow: 0px 0px 5px #ffffff; }
  .abecedario {
    position: absolute;
    top: 7rem;
    left: 4rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.4rem; }
  .bot-prod {
    position: relative;
    width: 150px;
    height: 80px;
    top: 1px;
    right: auto;
    bottom: auto;
    left: 35%;
    perspective: 800px; } }

.center {
  position: fixed;
  top: auto;
  right: 0.5rem;
  bottom: 1rem;
  left: auto;
  transform: translate(-50%, -50%); }

.down {
  position: relative;
  animation: down 1.6s ease-in infinite both; }

.down .up {
  animation: up 1.6s ease-in-out infinite both; }

.down .up .squeeze {
  transform-origin: 50% 100%;
  animation: squeeze 1.6s cubic-bezier(0.72, 0.03, 0.28, 0.97) infinite both; }

.down .up .squeeze .rotate-in {
  animation: rotate-in 1.6s ease-out infinite both; }

.down .up .squeeze .rotate-in .rotate-out {
  animation: rotate-out 1.6s ease-in infinite both; }

.down .up .squeeze .rotate-in .rotate-out .square {
  width: 100px;
  height: 100px;
  background: #ffffff; }

.shadow {
  position: absolute;
  z-index: 12;
  top: auto;
  right: -4px;
  bottom: -2px;
  left: -4px;
  height: 2px;
  border-radius: 50%;
  background: #000000;
  box-shadow: 0 0 0px 8px #000000;
  animation: shadow 1.6s ease-in-out infinite both; }

@keyframes down {
  0% {
    transform: translateY(-100px); }
  20%, 100% {
    transform: translateY(0); } }

@keyframes up {
  0%, 75% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100px); } }

@keyframes squeeze {
  0%, 4% {
    transform: scale(1); }
  45% {
    transform: scale(1, 0.9); }
  100% {
    transform: scale(1); } }

@keyframes rotate-in {
  0% {
    transform: rotate(-135deg); }
  20%, 100% {
    transform: rotate(0deg); } }

@keyframes rotate-out {
  0%, 80% {
    transform: rotate(0); }
  100% {
    transform: rotate(135deg); } }

@keyframes shadow {
  0%, 100% {
    transform: scaleX(0.5); }
  45%, 50% {
    transform: scaleX(1.2); } }

body#pageerror {
  background-color: black; }

img {
  position: relative;
  text-align: center; }

.cartel_error {
  position: absolute;
  top: 22rem;
  left: 38rem;
  bottom: 0px; }
  .cartel_error h1 {
    font-size: 4rem;
    color: #c9a805; }
  .cartel_error .ntorcida {
    top: -18.5rem;
    left: 9rem; }
  .cartel_error .pintor {
    top: -1.2rem;
    left: -14rem; }
  .cartel_error .obrero {
    top: -1.2rem;
    left: -10rem; }
  .cartel_error .cartvolver {
    left: -55rem; }

.btnvolver {
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  left: -27rem;
  top: 10rem;
  color: black; }
  .btnvolver:hover {
    font-size: 2.8rem; }
