@import "variables";

.center {
    @include positions(fixed);
    @include ubication (auto,0.5rem,1rem,auto);
    transform: translate(-50%, -50%);
  }
 
  .down {
    @include positions(relative);
    animation: down 1.6s ease-in infinite both;
  }
  .down .up {
    animation: up 1.6s ease-in-out infinite both;
  }
  .down .up .squeeze {
    transform-origin: 50% 100%;
    animation: squeeze 1.6s cubic-bezier(0.72, 0.03, 0.28, 0.97) infinite both;
  }
  .down .up .squeeze .rotate-in {
    animation: rotate-in 1.6s ease-out infinite both;
  }
  .down .up .squeeze .rotate-in .rotate-out {
    animation: rotate-out 1.6s ease-in infinite both;
  }
  .down .up .squeeze .rotate-in .rotate-out .square {
    @include size (100px,100px);
    background: map-get($map-gral,col-blk);
  }
 
  .shadow {
    @include positions(absolute);
    z-index: 12;
    @include ubication (auto,-4px,-2px,-4px);
    height: 2px;
    border-radius: 50%;
    background: map-get($map-gral,col-neg);
    box-shadow: 0 0 0px 8px map-get($map-gral,col-neg);
    animation: shadow 1.6s ease-in-out infinite both;
  }
 
  @keyframes down {
    0% {
      transform: translateY(-100px);
    }
    20%, 100% {
      transform: translateY(0);
    }
  }
  @keyframes up {
    0%, 75% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  @keyframes squeeze {
    0%, 4% {
      transform: scale(1);
    }
    45% {
      transform: scale(1, 0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes rotate-in {
    0% {
      transform: rotate(-135deg);
    }
    20%, 100% {
      transform: rotate(0deg);
    }
  }
  @keyframes rotate-out {
    0%, 80% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  @keyframes shadow {
    0%, 100% {
      transform: scaleX(0.5);
    }
    45%, 50% {
      transform: scaleX(1.2);
    }
  }
