@import "variables";

footer{
    width: 100%;
    display: map-get($map-gral,inl-bl);
    background-color: map-get($map-gral,col-neg);
}

.foot{  
    display: map-get($map-gral,flx);
    margin: auto;
    text-align: center;
}

.box_foot{
    @extend .foot;
    display: map-get($map-gral,inl);
    flex-direction: column;
    padding: 2.8rem;

    h5{
        color:map-get($map-gral,col-yell);
        background-color:map-get($map-gral,col-neg);
        font-size: 1.9rem;
    }

    a{
        color: map-get($map-gral,col-yell);
        margin-top: 1rem;
        display:map-get($map-gral,bl);
        text-align: center;
    }

    img{
        width: 5rem;
        display: map-get($map-gral,inl-bl);
        padding: 0.3rem;
    }
}

/* editor derechos reservados */

.box_cop{
    @extend .foot;
    padding-bottom: 1.9rem;
    display: map-get($map-gral,inl);

    p{
        color:map-get($map-gral,col-yell);
        margin-top: 1.2rem;
    }

    hr{
        border: none;
        height: 1px;
        background-color: map-get($map-gral,col-yell);  
        max-width: 75rem;
        margin: auto;
    }
}
