@import "variables";


.container-fluid{
    background-color: map-get($map-gral,col-neg);
    margin-top: 3.5rem;
    padding: 0.5rem;
    @include positions(fixed);
    z-index: 10;  
}

/*  barra de navegacion */

.navbar-nav{
    margin-top: 0.6rem;
    padding: 0.6rem;

    a{
    letter-spacing: 0.12rem;
    min-width: 120px;
    height: 40px;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    @include positions(relative);
    display: map-get($map-gral,inl-bl);
    outline: none;
    border-radius: 5px;
    z-index: 0;
    overflow: hidden;
    color: map-get($map-gral,col-yell);
  }
    &:hover {
    color: map-get($map-gral,col-blk);
  }
}

.navbar-nav a:hover:after {
    height: 100%;
  }

.navbar-nav a:after {
    content: "";
    @include positions(absolute);
    z-index: -1;
    transition: all 0.3s ease;
    @include ubication (auto,auto,0,0);
    @include size (100%,0px);    
    background: map-get($map-gral,col-yell);
  }

.navbar-toggler-icon{
    background-color: map-get($map-gral,col-yell);
}

/*  texto caracteristica */

.caracteristica{
    background-color: transparent;
    color: map-get($map-gral,col-blk);
    text-align: center;
    font-size: x-large;
    letter-spacing: 0.2em;
    @include positions(absolute);
    @include ubication (27rem,35%,auto,35%);
    text-shadow:0px 0px 5px map-get($map-gral,col-blk);
}

/*  estilos separador */

#row-col{
    background-color:map-get($map-gral,col-yell);
    justify-content: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.col-separador{
    padding: 1.5rem;
    
}

/*  carousel */

.carousel-item{
    cursor: pointer;

    img {
    object-fit: scale-down;
    @include size (100%,50vh);
    }
}

/*  estilos boton vermas */

.bot-prod {
  @include positions(relative);
  @include size (150px,80px);
    @include ubication (50px,auto,auto,45%);
    perspective: 800px;
    margin-bottom: 4rem;
    font-weight: bold;
    }
     
    .bot-prod:hover .flip {
          transform: rotateX(180deg) translate3d(0,0,0);
          box-shadow: 8px -10px 15px 0 map-get($map-gral,col-neg);
        }  
     
      .flip {
        @include size (100%,100%);
          transform-style: preserve-3d;
          transition: all 1s ease-in-out;
          perspective: 1000px;
          box-shadow: 8px 10px 15px 0 map-get($map-gral,col-neg);
      }
     
      .front, .back {
          @include positions(absolute);
          @include ubication (0,0,0,0);
          background: map-get($map-gral,col-back-bot);
          backface-visibility: hidden;
          border-radius: 3px;
          overflow: hidden;
          text-align: center;
      }
     
      .front {
          z-index: 2;
          transform: rotateX(0);
        }
 
        .front p {
              @include positions(relative);
              top: 1.3rem;
              animation: bike .6s ease-in-out infinite;
              transform-origin: 50% 100%;
          }
         
                       
      .back {
          transform: rotateX(180deg);
        }
 
          .back a {
              color: map-get($map-gral,col-neg);
              font-weight: bold;
              @include positions(relative);
              z-index: 1;
              top: 1.8rem;
              animation: helicopter 1.5s ease-in-out infinite;
              animation-fill-mode: both;
              
          }          
/*  estilos descripcion */

.descripcion{
    text-align: center;
    color: map-get($map-gral,col-blk);
    @include positions(relative);
    margin: 3.1rem;

    p{
    letter-spacing: 0.2rem;
    line-height: 3.1rem;
    }
}