body#pageerror{
    background-color: black;
}

img{
    position: relative;
    text-align:center
}

.cartel_error{
    position: absolute;
    top: 22rem;
    left: 38rem;
    bottom: 0px;

        h1{ 
        font-size: 4rem;
        
        color: rgb(201, 168, 5);
            }

        .ntorcida{
            top: -18.5rem;
            left: 9rem;
        }

        .pintor{
            top: -1.2rem;
            left: -14rem;
   
        }

        .obrero{
        top: -1.2rem;
        left: -10rem;  
        }

        .cartvolver{
      
        left: -55rem;
        }
}

.btnvolver{
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    left: -27rem;
    top: 10rem;
   color: black;

   &:hover{
    font-size: 2.8rem;
   }


}