@import "variables";

body#productos{
    background-image: url(../media/imagenes/imagenproducts.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $col-neg;  
}

/*contenedor de productos */

.card{
    border: solid 1px transparent;
    border-radius: 2%; 
    align-items: center; 
    opacity: 0.7;

    h5{
        color: $col-yell;
        border-radius: 2%; 
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 4rem;
        letter-spacing: 0.1rem;
    }

    &:hover{
    box-shadow: 5px 5px 15px 5px $col-neg;
    opacity: 1;
    }
}

/*imagenes-productos */

.card img{
    width: 250px;
    height: 200px;
    cursor: pointer;


    &:hover{
    transform: rotateY(180deg); 
    }
}
