
@import "variables";

body#body_tab{
    background-color: map-get($map-gral,col-neg);
    background-image: url(../media/imagenes/fondotab.png);
    background-repeat: no-repeat;
}

/*boton letras */

.abecedario{
    @include positions(absolute); 
    display: map-get($map-gral,flx);
    @include ubication (20%,auto,auto,40%);
    z-index: 9;
}

.letra{
    background-color: map-get($map-gral,col-neg);

    img{
        width: 1.9rem;
        z-index: 8;
    }
}

.letra:hover,
.letra:focus {
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

/*videos */

.card .card-body{
    background-color: transparent;

    h5{
        color: map-get($map-gral,col-neg);
        text-align: center;
    }
}

.videos{
    margin-top: 250px;
    margin-bottom: 15px;
}


